.cabinet {
	padding-left: 5px;
	padding-right: 5px;
	border: 1px var(--black) solid;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.background {
	height: 15rem;
	width: 100%;
	background: url(../../Public/img/medecin.jpg);
}

.profileCabinet {
	position: relative;
	top: 30%;
	background: rgba(0, 0, 0, 0.1);
}

.cabinet div p span {
	font-weight: bold;
	font-size: 2rem;
}

.cabinet div p {
	font-size: 2rem;
}

.cabinet div div img {
	width: 15%;
	height: 15%;
}
